.App {
  height: calc(100vh - 90px);
  background: white;
  display: flex;
  width: 100%;
}
.outerWrap {
  width: 100%;
  height: 100vh;
  background-color: grey;
}
.musicControls {
  background: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top: 1px solid #040404;
}
.navBar {
  width: 228px;
  height: 100%;
  background: #040404;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  z-index: 2;
}
.logo {
  padding: 1rem 0;
  opacity: 100;
  max-width: 158px;
}
.sideBarList {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}
.home {
  font-family: Arial, Helvetica, sans-serif;
  color: #b3b3b3;
  list-style-type: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: circular-bold;
  display: flex;
  align-items: center;
}
.home:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  background: #282828;
}
.search {
  color: #b3b3b3;
  list-style-type: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: circular-bold;
  display: flex;
  align-items: center;
}
.search:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  background: #282828;
}
.whoAreWe {
  color: #b3b3b3;
  list-style-type: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: circular-bold;
  display: flex;
  align-items: center;
}
.whoAreWe:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  background: #282828;
}
.nobull {
  list-style-type: none;
}
.Background {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

video {
  float: right;
  width: 100%;
  height: 100%;
  /* margin-left: 228px; */
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.header {
  background: #282828;
  justify-content: flex-end;
  z-index: 1;
}

.btns {
    float: right;
    margin: 10px 10px;
    border-radius: 10%;
}
