h1,
p {
  font-family: Lato;
}

.main {
  background-color: rgb(250, 255, 255, 0.625);
  border-radius: 10px;
}
.title {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.title-choose-playlist {
  margin: 0;
  position: absolute;
  top: 8%;
  left: 5%;
  justify-content: left;
  align-items: left;
  transform: translateX(0%);
}
.font-link {
  font-family: "Nunito", sans-serif;
}
.header {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.btns {
  float: right;
  margin: 10px 10px;
  border-radius: 10%;
}
#__next {
  padding: 20px;
}
.image-item {
  padding: 20px 0 20px 20px;
}
